USE [master]
GO
/****** Object:  Database [SwiftRideBook]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE DATABASE [SwiftRideBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SwiftRideBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.UMA\MSSQL\DATA\SwiftRideBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SwiftRideBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.UMA\MSSQL\DATA\SwiftRideBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SwiftRideBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SwiftRideBook]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Amenities] PRIMARY KEY CLUSTERED 
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoardingPoints]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardingPoints](
	[BoardingPointId] [int] IDENTITY(1,1) NOT NULL,
	[Point] [nvarchar](max) NOT NULL,
	[RouteId] [int] NOT NULL,
 CONSTRAINT [PK_BoardingPoints] PRIMARY KEY CLUSTERED 
(
	[BoardingPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingHistories]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingHistories](
	[BookingHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BookingHistories] PRIMARY KEY CLUSTERED 
(
	[BookingHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BusId] [int] NOT NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[JourneyDate] [datetime2](7) NOT NULL,
	[SeatNumbers] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[BoardingPointId] [int] NOT NULL,
	[DroppingPointId] [int] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusAmenities]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusAmenities](
	[BusAmenityId] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [int] NOT NULL,
	[AmenityId] [int] NOT NULL,
 CONSTRAINT [PK_BusAmenities] PRIMARY KEY CLUSTERED 
(
	[BusAmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusDepartures]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusDepartures](
	[BusDepartureId] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [int] NOT NULL,
	[DepartureTime] [datetime2](7) NOT NULL,
	[ArrivalTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BusDepartures] PRIMARY KEY CLUSTERED 
(
	[BusDepartureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[BusId] [int] IDENTITY(1,1) NOT NULL,
	[BusNumber] [nvarchar](max) NOT NULL,
	[BusType] [nvarchar](max) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[RouteId] [int] NOT NULL,
	[DepartureTime] [datetime2](7) NOT NULL,
	[BusOperatorId] [int] NULL,
 CONSTRAINT [PK_Buses] PRIMARY KEY CLUSTERED 
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusOperators]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusOperators](
	[BusOperatorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_BusOperators] PRIMARY KEY CLUSTERED 
(
	[BusOperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusSeats]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusSeats](
	[BusSeatId] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [int] NOT NULL,
	[SeatNumber] [nvarchar](max) NOT NULL,
	[IsBooked] [bit] NOT NULL,
 CONSTRAINT [PK_BusSeats] PRIMARY KEY CLUSTERED 
(
	[BusSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DroppingPoints]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DroppingPoints](
	[DroppingPointId] [int] IDENTITY(1,1) NOT NULL,
	[Point] [nvarchar](max) NOT NULL,
	[RouteId] [int] NOT NULL,
 CONSTRAINT [PK_DroppingPoints] PRIMARY KEY CLUSTERED 
(
	[DroppingPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteId] [int] IDENTITY(1,1) NOT NULL,
	[Origin] [nvarchar](max) NOT NULL,
	[Destination] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/13/2025 8:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BoardingPoints_RouteId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BoardingPoints_RouteId] ON [dbo].[BoardingPoints]
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_BoardingPointId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_BoardingPointId] ON [dbo].[Bookings]
(
	[BoardingPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_BusId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_BusId] ON [dbo].[Bookings]
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_DroppingPointId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_DroppingPointId] ON [dbo].[Bookings]
(
	[DroppingPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_UserId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_UserId] ON [dbo].[Bookings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusAmenities_AmenityId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusAmenities_AmenityId] ON [dbo].[BusAmenities]
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusAmenities_BusId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusAmenities_BusId] ON [dbo].[BusAmenities]
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusDepartures_BusId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusDepartures_BusId] ON [dbo].[BusDepartures]
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Buses_RouteId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Buses_RouteId] ON [dbo].[Buses]
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusOperators_UserId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusOperators_UserId] ON [dbo].[BusOperators]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusSeats_BusId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusSeats_BusId] ON [dbo].[BusSeats]
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DroppingPoints_RouteId]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_DroppingPoints_RouteId] ON [dbo].[DroppingPoints]
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 8/13/2025 8:56:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [BoardingPointId]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [DroppingPointId]
GO
ALTER TABLE [dbo].[Buses] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DepartureTime]
GO
ALTER TABLE [dbo].[BoardingPoints]  WITH CHECK ADD  CONSTRAINT [FK_BoardingPoints_Routes_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([RouteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BoardingPoints] CHECK CONSTRAINT [FK_BoardingPoints_Routes_RouteId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_BoardingPoints_BoardingPointId] FOREIGN KEY([BoardingPointId])
REFERENCES [dbo].[BoardingPoints] ([BoardingPointId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_BoardingPoints_BoardingPointId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Buses_BusId] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([BusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Buses_BusId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_DroppingPoints_DroppingPointId] FOREIGN KEY([DroppingPointId])
REFERENCES [dbo].[DroppingPoints] ([DroppingPointId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_DroppingPoints_DroppingPointId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users_UserId]
GO
ALTER TABLE [dbo].[BusAmenities]  WITH CHECK ADD  CONSTRAINT [FK_BusAmenities_Amenities_AmenityId] FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([AmenityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusAmenities] CHECK CONSTRAINT [FK_BusAmenities_Amenities_AmenityId]
GO
ALTER TABLE [dbo].[BusAmenities]  WITH CHECK ADD  CONSTRAINT [FK_BusAmenities_Buses_BusId] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([BusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusAmenities] CHECK CONSTRAINT [FK_BusAmenities_Buses_BusId]
GO
ALTER TABLE [dbo].[BusDepartures]  WITH CHECK ADD  CONSTRAINT [FK_BusDepartures_Buses_BusId] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([BusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusDepartures] CHECK CONSTRAINT [FK_BusDepartures_Buses_BusId]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [FK_Buses_Routes_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([RouteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [FK_Buses_Routes_RouteId]
GO
ALTER TABLE [dbo].[BusOperators]  WITH CHECK ADD  CONSTRAINT [FK_BusOperators_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusOperators] CHECK CONSTRAINT [FK_BusOperators_Users_UserId]
GO
ALTER TABLE [dbo].[BusSeats]  WITH CHECK ADD  CONSTRAINT [FK_BusSeats_Buses_BusId] FOREIGN KEY([BusId])
REFERENCES [dbo].[Buses] ([BusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusSeats] CHECK CONSTRAINT [FK_BusSeats_Buses_BusId]
GO
ALTER TABLE [dbo].[DroppingPoints]  WITH CHECK ADD  CONSTRAINT [FK_DroppingPoints_Routes_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([RouteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DroppingPoints] CHECK CONSTRAINT [FK_DroppingPoints_Routes_RouteId]
GO
USE [master]
GO
